<% include ../partials/header %>
 
 <div class="row">
     <div class="col-md-3 ">
         <p class="lead">YelpCamp</p>
             <div class="list-group " >
                 <li class="list-group-item active "><i class="fa fa-home" aria-hidden="true"></i> <%= campground.name %></li>
                 <li class="list-group-item">Price : $<%= campground.price%>/night</li>
                 <li class="list-group-item">Author : <%= campground.author.username %></li>
             </div>
     </div>
     
     <div class = "col-md-9">
                 <div class="thumbnail">
                     <img class = "img-responsive" src=" <%= campground.image %> "></img>
                         <div class="caption-full">
                             <h4 class="pull-right" >$<%= campground.price %>/night</h4>
                             <h4><a href="#"><i class="fa fa-home" aria-hidden="true"></i> <%=campground.name%></a></h4>
                             <p>
                                    <%=campground.description%>
                            </p>
                            
                             <p>
                                <em>Submitted by - <%= campground.author.username %> </em>
                             </p>
                             
                              <% if(currentUser && campground.author.id.equals(currentUser._id) ){ %>
                             
                              <a class="btn  btn-warning" href="/campgrounds/<%=campground._id%>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                              <form id="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method=POST>
                                <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                              </form>
                              
                              <% } %>
                         </div>
                 </div>
                     <div class="well">
                         <div class="text-right">
                             <a class="btn btn-success" href="/campgrounds/<%= campground._id%>/comments/new ">
                               <i class="fa fa-commenting" aria-hidden="true"></i>  Add New Comment</a>
                         </div>
                         <hr>
                         <% campground.comments.forEach( function(comment){ %>
                          <div class="row">
                              <div class="col-md-12">
                                   <strong><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= comment.author.username%></strong>
                                  <span class="pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> <%=comment.created.toDateString()%></span>
                                   <p>
                                     <%=comment.text %>
                                   </p>
                                   <% if(currentUser && comment.author.id.equals(currentUser._id) ){ %>
                                     <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id%>/comments/<%=comment._id%>/edit">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a>
                                       <form id="comment-delete-form" action="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>?_method=DELETE" method=POST>
                                         <button class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  Delete</button>
                                       </form>
                                   <% } %>
                              </div>
                          </div>
                             <hr>
                        <% } ) ; %>
                        
                     </div>
     </div>
 </div>





<% include ../partials/footer %>